:host {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 230px;
}

.login-form {
  width: 440px;
  color: #ffffff;
}

.login-form__title {
  margin-bottom: 60px;
}

.login-form__logo {
  width: 355px;
  height: auto;
  background-color: antiquewhite;
}

.login-form__btn {
  position: relative;
  width: 100%;
  border: 1px solid var(--dark-color);
}

.login-form__btn::before {
  content: "";
  position: absolute;
  right: -4px;
  bottom: -4px;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background-color: var(--gray-color);
  z-index: -1;
}

.at-input-password-wrapper {
  position: relative;
}

.at-input-password {
  padding-right: 52px;
}

.at-password-eye-btn {
  position: absolute;
  top: 50%;
  right: 20px;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: transparent;
  border: none;
  transform: translateY(-50%);
  opacity: 0.75;
  transition: opacity 0.2s ease-in;
  cursor: pointer;
}

.at-password-eye-btn:hover {
  opacity: 1;
}

.at-password-eye-btn.active {
  color: var(--primary-color);
}
