<div class="login-page">
  <form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1 class="login-form__title font--h1">Вход</h1>

    <label class="at-label mb--16">
      <p class="at-label__title">Логин</p>
      <input
        class="at-input"
        formControlName="username"
        type="text"
        placeholder="Введите логин"
      />
    </label>

    <label class="at-label mb--16">
      <p class="at-label__title">Пароль</p>
      <div class="at-input-password-wrapper">
        <input
          class="at-input at-input-password"
          formControlName="password"
          [type]="isPasswordVisible() ? 'text' : 'password'"
          placeholder="Введите пароль"
        />
        <button
          class="at-password-eye-btn"
          [class.active]="isPasswordVisible()"
          (click)="isPasswordVisible.set(!isPasswordVisible())"
        >
          <icon-crossed-eye />
        </button>
      </div>
    </label>

    <button class="btn login-form__btn mt--32" type="submit">Вход</button>
  </form>

  <img class="login-form__logo" src="/assets/images/logo-big.svg" alt="logo" />
</div>
